body{
    height: 100%;
}

#wrapper{width:70%;
    display:block;
	margin: 180px 21%;
    height: 40%;
}


figure {
	float:left;
	padding:0 auto;
}

#losttext{
    padding-top: 10%;}

#losttext h1{
font-weight:300; 
color:#F5A623;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
margin:0; 	
letter-spacing: 0.5px
}

div#lost{
    width: 90%;
}

p{
	color:#F5A623;
}

#homelink{
    text-decoration: none;
    border:none;
    color:#F5A623;
    text-decoration: underline;
}

p a:link{
	height: 50px;
	width: 100%;
	text-align: center;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #C1C1C1;
	background: rgba(255,255,255,0.88);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 18px;
	outline: none;
	letter-spacing: 0.5px;
}


/* Media Queries */
@media screen and (max-width: 1400px) {
	.modal {
		width: 90%;
	}
}
@media screen and (max-width: 1200px) {
	.container {
		width: 90%;
	}
	.container .result {
		display: block;
		width: 70%;
		margin: 78px auto;
		border-right: none;
		border-bottom: 1px solid #CFCFCF;
	}
	.header img {
		position: relative;
	}
    
}

@media screen and (max-width: 900px) {

	
    
    #wrapper{width:70%;
    display:block;
	margin: 100px 21%;
}
    
    figure{
        padding-left: 15%;    
    }
    
    #losttext{
		display:block;
		clear:both;
	}

}

@media screen and (max-width: 700px) {
	.header #full-logo {
		display: none;
	}
	.header #icon {
		display: block;
	}

    #wrapper{
	margin: 80px 21%;
}
    
    figure{
        padding-left: 10%;    
    }
    
	#losttext{
		display:block;
		clear:both;
	}
}

@media screen and (max-width: 429px) {
	.header #icon {
		display: none;
	}
	.header form {
		position: relative;
		margin: 0 auto;
		display: block;
		top: 0;
	}
    
     #wrapper{
	margin: 30px 21%;
}
    
    figure{
        padding-left: 0;    
    }
    
    figure img{
        width: 90%;
    }

}

@media screen and (max-width: 410px) {
	.container {
		width: 100%;
	}
	.container .result {
		width: 90%;
	}
	.cost-price {
		padding-right: 48px;
	}
}